@import url('https: //fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Lato&display=swap');

/*definindo as caracteristicas basicas do tema*/
:root {
  --bs-blue: #002648;
  --font-family: "Roboto";
}

/*estilos comuns para os cabeçalhos h1, h2 e h3*/
h1,
h2,
h3 {
  font-family: var(--font-family);
  color: var(--bs-blue);
}

/*estilo especifico para o cabeçalho h1*/
h1 {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 0.5rem;
  /* Ajuste para remover espaço */
  padding: 0rem;
}

/*estilo especifico para o cabeçalho h2*/
h2 {
  font-size: 0.85rem;
  padding-bottom: 0rem;
  border-bottom: 1.5px solid #c8c8c8;
  width: 100%;
  margin-top: 0.6rem;
  margin-bottom: 0.3rem;
}

/* Estilo especifico para o cabeçalho h3 */
h3 {
  font-size: 0.80rem;
}

/* Estilo dos links */
a {
  color: var(--bs-blue);
  text-decoration: none;
  font-weight: bold;
}

/* Estilo para texto em negrito */
b,
strong {
  color: #383838;
  font-weight: bolder;
}

/* Estilo do parágrafo, tabela e linha */
p,
ul,
ol,
li {
  color: #323232;
  font-size: .7rem;
  font-family: var(--font-family);
  margin-bottom: 0rem;
}

/* configurações do <small> */
.small {
  font-size: 0.4rem !important;
  margin-bottom: 0rem;
}

/* margem principal */
main {
  margin-bottom: 0em;
  margin-top: 0em;
}

/* informações em baixo do título no cv */
.personal-infos {
  color: #626262;
  font-size: .68rem;
  font-family: var(--font-family);
  text-align: center;
  margin-top: 0rem;
  margin-bottom: 0rem;
  /* Ajuste para remover espaço */
}

/* ---------------------------------*/
/* formatação das informações da tabela de experiencias*/
/* título alinhamento à esquerda */
.left-aligned {
  text-align: left;
  color: #383838;
  font-size: 0.76rem;
  font-family: var(--font-family);
}

/* título alinhamento à direita */
.right-aligned {
  text-align: right;
  color: #383838;
  font-size: 0.70rem;
  font-family: var(--font-family);
}

/* organiza esquerda e direita em mesma linha titular */
.flex-container-1 {
  display: flex;
  justify-content: space-between;
  color: var(--bs-blue);
  margin-bottom: 0rem;
  margin-top: 0.3rem;
}

/* organiza esquerda e direita em mesma linha subtitular */
.flex-container-2 {
  display: flex;
  justify-content: space-between;
  color: #1a1919;
  margin-bottom: 0rem;
  margin-bottom: 0rem;
}

/* ---------------------------------*/